.table {
  padding: .5rem 1rem;
  border: 1px dashed #ccc;
  margin-bottom: 1rem;
}
h2 {
  margin-bottom: .5rem;
}
.table-container {
  max-width: 800px;
  margin: auto;
}

.items_table {
  width: 98%;
  border-collapse: collapse;
  margin-left: 1%;
  margin-top: 10px;
}

.items_table thead tr {
  background-color: transparent;
}

.items_table th {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.items_table td {
  border: 1px solid #ddd;
  text-align: center;
}
